<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Local Library</title>
    {% endblock %}
  </head>
  <body>
   <!--  {% block sidebar %} --> 
    <ul>
        <li class="navbar-brand"><a href="/djangoapp/">Home</a></li>
            <li class="navbar-brand"><a href="/djangoapp/about/">About</a></li>
            <li class="navbar-brand"><a href="/djangoapp/contact/">Contact us</a></li>
    </ul>
    {% endblock %}
    {% block content %}
      <!-- default content text (typically empty) -->
    {% endblock %}
  </body>
</html>